<script type="text/javascript">
    RED.nodes.registerType('iolink-DP2200',
    {
        category: 'sense iot iolink',
        color: '#b27fb2',
        defaults: 
        {
            name: {value:"DP2200"},
            ip: {value:"127.0.0.1", required:true},
            port: {value: 0, require:true},
            refreshrate: {value: 1}
        },
        inputs:0,
        outputs:1,
        icon: "sense.png",
        label: function() 
        {
            return this.name||"DP2200";
        }
    });
</script>

<script type="text/html" data-template-name="iolink-DP2200">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-ip"><i class="icon-tag"></i> IOLink Master IP</label>
        <input type="text" id="node-input-ip" placeholder="127.0.0.1">
    </div>
    <div class="form-row">
        <label for="node-input-port"><i class="icon-tag"></i> IOLink Port</label>
        <input type="number" id="node-input-port" placeholder="IOLink Port Number">
    </div>
    <div class="form-row">
        <label for="node-input-refreshrate"><i class="icon-tag"></i> Refresh Rate (Seconds)</label>
        <input type="number" id="node-input-refreshrate" placeholder="seconds" value="1">
    </div>
</script>

<script type="text/html" data-help-name="iolink-DP2200">
    <p>DP2200: Evaluation system and display for analogue signals. Outputs a constant stream from the output of the selected DP2200 system.</p>
</script>